.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Mullish', sans-serif;
    color: rgb(229, 233, 240, 0.7);
    border-bottom: 2px solid rgb(76, 86, 106, 0.9);
    height: 9%;
    padding-right: 10px;
}

.container :first-child {
    cursor: pointer;
}