.layout {
    height: 100vh;
    width: 100%;
    background-color: #2E3440;
    display: flex;
    overflow: clip;
    z-index: 1;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ECEFF4;
}

.header i {
    color: #f2a900;
}